@import 'tailwindcss';

:root {
  --primary: #07bebc;
  --primary-hover: #06a6a4;

  --base: #010101;
  --background: #fff;
  --gray-50: #f2f2f2; /* input border */
  --gray-100: #fbfbfb; /* input */
  --gray-200: #f5f6f8;
  --gray-300: #d8d8d8;
  --gray-400: #b9c0c8;
  --gray-500: #b9bcbf;
  --gray-600: #7d8081;
  --gray-700: #1c1d1d;
  --gray-800: #d9d9d9;

  --disabled-bg: #c7cdce;
  --disabled-text: #7d8081;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);

  --color-base: var(--base);

  --color-disabled: var(--disabled-bg);
  --color-disabled-text: var(--disabled-text);
}

body {
  background: var(--background);
  min-height: 100svh;
  color: var(--base);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  background: var(--gray-100);
  border: 1px solid var(--gray-500);
  border-radius: 4px;
  padding: 8px 16px;
}

input:disabled {
  background: var(--disabled-bg);
  color: var(--disabled-text);
}

button {
  cursor: pointer;
}

.datePicker {
  background: var(--gray-100);
  border: 1px solid var(--gray-500);
  border-radius: 4px;
  padding: 4px 16px;
  color: var(--gray-600);
  height: 38px;
}
